@model EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<h1>Edit User</h1>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="form-group  row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <h3>Update Role</h3>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                    </div>
                    <form class="m-t" role="form" asp-area="User" asp-controller="Administration" asp-action="EditUser" method="post">
                            <div class="form-group row">
                                <label asp-for="Id" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="Id" disabled class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="Email" class="form-control">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="UserName" class="form-control">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" asp-for="CountryId">Country</label>
                                <div class="col-sm-3">
                                    <select id="ddlcountry" asp-for="CountryId" class="form-control" asp-items="@(new SelectList(Model.Countries,"Value","Text"))">
                                        <option value="">Select Country</option>
                                    </select>
                                    <span asp-validation-for="CountryId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" asp-for="StateId">State</label>
                                <div class="col-sm-3">
                                    <select id="ddlstate" asp-for="StateId" class="form-control" asp-items="@(new SelectList(Model.States, "Value", "Text","Value"))">
                                        <option value="">Select State</option>
                                    </select>
                                    <span asp-validation-for="StateId" class="text-danger"></span>
                                    <span id="states-loading-progress" style="display: none;">Please wait..</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" asp-for="CityId">City</label>
                                <div class="col-sm-3">
                                    <select id="ddlcity" asp-for="CityId" class="form-control" asp-items="@(new SelectList(Model.Cities, "Value", "Text","Value"))">
                                        <option value="">Select City</option>
                                    </select>
                                    <span asp-validation-for="CityId" class="text-danger"></span>
                                    <span id="city-loading-progress" style="display: none;">Please wait..</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    <a asp-action="Users" asp-controller="Administration" asp-area="User" class="btn btn-primary">Cancel</a>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h3>User Roles</h3>
                                </div>
                                <div class="card-body">
                                    @if (Model.Roles.Any())
                                    {
                                        foreach (var role in Model.Roles)
                                        {
                                            <h5 class="card-title">@role</h5>
                                        }
                                    }
                                    else
                                    {
                                        <h5 class="card-title">None at the moment</h5>
                                    }
                                </div>
                                <div class="card-footer">
                                    <a asp-action="ManageUserRoles" asp-controller="Administration" asp-area="User" asp-route-userId="@Model.Id" class="btn btn-primary">Manage Roles</a>
                                </div>
                            </div>

                            <div class="card mt-3">
                                <div class="card-header">
                                    <h3>User Claims</h3>
                                </div>
                                <div class="card-body">
                                    @if (Model.Claims.Any())
                                    {
                                        foreach (var claim in Model.Claims)
                                        {
                                            <h5 class="card-title">@claim</h5>
                                        }
                                    }
                                    else
                                    {
                                        <h5 class="card-title">None at the moment</h5>
                                    }
                                </div>
                                <div class="card-footer">
                                    <a asp-action="ManageUserClaims" asp-controller="Administration" asp-area="User" asp-route-userId="@Model.Id" style="width:auto" class="btn btn-primary"> Manage Claims</a>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <environment names="Development">
        <script src="~/js/Custom.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/Custom.js"></script>
    </environment>
}





